version: '3'
services:
  node:
    container_name: node
    restart: always
    build: .
    ports:
      - 5000:5000
    volumes:
      - ./:/app
  mongo:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment: 
        MONGO_INITDB_DATABASE: labpro2
    ports:
      - 27017:27017
    volumes:
      - mongodb_data_container:/data/db
volumes:
    mongodb_data_container: