on:
  push:
    branches:
      - master
jobs:
  pull-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: update production repository and redeploy the app
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          cd stand-with-dorayaki-BE/
          git pull
          sudo docker-compose down
          sudo docker-compose up -d
